Repository agencms/laravel-preset: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, markdownlint, eslint, jsonlint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.md": [
        "markdownlint"
    ],
    "*.js": [
        "eslint"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.json": [
        "jsonlint"
    ],
    ".*rc": [
        "jsonlint"
    ]
}

Include purgecss by default to control css file size
  src/Preset.php
  src/stubs/webpack.mix.js
Due: ./vendor/bin/phpcs, eslint

Include missing javascript
  src/stubs/app.js
Due: eslint

Import default Tailwind via Sass
  src/stubs/app.sass
  src/stubs/webpack.mix.js
Due: eslint

Use sass stub to import Tailwind by default
  src/Preset.php
Due: ./vendor/bin/phpcs

Allow title to be set from title section
  src/Preset.php
  src/stubs/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

Include core title component
  src/stubs/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

1.0.1
  package-lock.json
  package.json
Due: jsonlint

Create layouts folder which is not included in blank laravel projects
  src/Preset.php
Due: ./vendor/bin/phpcs

Include web routes file in preset installation
  src/Preset.php
  src/stubs/routes/web.php
Due: ./vendor/bin/phpcs

Upgrade package versions
  src/Preset.php
Due: ./vendor/bin/phpcs

Update tailwind config to match new version now included in the preset
  src/stubs/tailwind.js
Due: eslint

1.0.2
  package-lock.json
  package.json
Due: jsonlint
